<!-- <h1>Parent Component</h1> -->
<div class="row justify-content-center">
    <div class="col-6">
  <label class="form-label text-center d-block fw-bold">Search For Your Phone</label>
    <input type="text" class="form-control text-center d-block fw-bold border-dark bg-success" [(ngModel)]="filterByName" >
    </div>
</div>


     <!-- $event  use to hold the value that comes with event -->
<app-product-cards [filterByNameInChild]="filterByName" (prdproperty)="addToCardInParent($event)"></app-product-cards>

<div class="row justify-content-center">
    <div class="col-6 d-block fw-bold border-dark bg-success rounded-3 bg-dark"  >
  <label class="form-label text-center d-block fw-bold text-white">Your Products</label>
    </div>
</div>

<table class="table table-dark table-striped" style="border: 2px solid black;">
    <thead>
        <tr>
            <th>Name</th>
             <th>Price</th>
              <th>quatity</th>
               <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @for(item of productsInParent;track item.id){
            <tr #row>
                <td> {{item.productName}}</td>
               <td> {{item.productPrice}}</td>
               <td> {{item.productQuantity}}</td>
               <td><button (click)="deleteRow(item)">Delete</button></td>
            </tr>
        }
        
    </tbody>
</table>
