<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="border-bottom: 1px solid white;">
  <div class="w-100 d-flex justify-content-between align-items-center px-3">
    <div class="d-flex align-items-center">
      <a class="navbar-brand d-flex align-items-center" routerLink="/">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/a/a7/React-icon.svg"
          alt="Logo"
          width="40"
          height="40"
          class="me-2 rounded-circle shadow-sm"
        />
      </a>
      <p class="navbar-brand mb-0">Dashboard</p>
    </div>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/home"
            routerLinkActive="active"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/users"
            routerLinkActive="active"
            >Users</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/units"
            routerLinkActive="active"
            >Units</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/listings"
            routerLinkActive="active"
            >Listings</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/bookings"
            routerLinkActive="active"
            >Bookings</a
          >
        </li>
        <li class="nav-item">
          <button class="btn btn-outline-light btn-sm" (click)="toggleTheme()">
            {{ isDarkMode ? '☀️ Light' : '🌙 Dark' }}
          </button>
        </li>
       
      </ul>
    </div>
  </div>
</nav>
