<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3>All Units</h3>
    <a routerLink="/Add-unit" class="btn btn-primary">+ Add Units</a>
  </div>

  <div class="row">
    <div class="col-md-3 mb-3" *ngFor="let unit of units">
      <div class="card h-100 shadow text-center text-dark">
        <img [src]="unit.imageUrl || 'https://via.placeholder.com/300x200'" class="card-img-top" alt="unit image">

        <div class="card-body">
          <h5 class="card-title">{{ unit.title }}</h5>
          <p class="card-text">
            <strong>Unit ID:</strong> {{ unit.id }}<br>
            <strong> Descryption: </strong> {{ unit.description }}<br>
            <strong>Location:</strong> {{ unit.location }}<br>
            <strong>Price:</strong> {{ unit.price }} LE<br>
            <strong>Available</strong>
            <span class="badge" [ngClass]="unit.isAvailable ? 'bg-success' : 'bg-danger'">
              {{ unit.isAvailable ? 'yes' : 'no' }}
            </span>
          </p> 
          <a [routerLink]="['/units/', unit.id]" class="btn btn-info btn-sm">📄 Details</a>

        </div> 
      </div>
    </div>
  </div>

 
</div>
