<div class="container bg-primary" style="border: 3px solid black;border-radius: 15px;">
  <button class="btn btn-dark my-4" (click)="toggleFanc()">{{toggle?"Hide ":"Show "}}Images</button>
<!-- <h4 class="d-flex">{{date | date:'fullDate'}}</h4> -->
<!-- <h4>{{this.clientName |formatPipe}}</h4> -->
  <h1>Totle order price :  {{totleOrderPrice}}</h1>
<!-- 
  <label class="form-label">Filter By Name</label>
    <input type="text" class="form-control" [(ngModel)]="filterByName" > -->


  <div class="row">
    @for(items of productsAfterSearch ; track items.categoryId){
    <div class="col-4 d-flex justify-content-center align-items-center" >

      <div class="card border-dark bg-secondary" style="width: 18rem;border-radius: 20px;">
        @if(toggle){
        <img [src]="items.productImgURL" class="card-img-top" alt="..." appImgStyle style="border-radius: 20px;">
        }@else {<p>No image avalible</p>}
        <div class="card-body">
          <h5 class="card-title" [ngClass]="{'changeBG': items.productQuantity==0,'changeBG2':items.productQuantity>0}">{{items.productName}}</h5>
          <p class="card-text">Price: {{items.productPrice | currency:'$':'code'}}</p>
          <p class="Quantity" [ngStyle]="{'background-color': items.productQuantity==1?'red':'blue'}">Quantity: {{items.productQuantity}}</p>
          <div class="d-flex justify-content-between">
            <button class="btn btn-primary" [disabled]="items.productQuantity==0" (click)="addToCardInChild(items)"><i class="fa-solid fa-cart-shopping"></i>Add to card</button>
             <button class="btn btn-dark" [routerLink]="['/parent',items.id]" >Details</button>

       
              @if(sclientName){
               <p>
               Thanks {{this.userName}} {{items.id}}
            </p>
            }
           
          </div>
          <div class="d-flex justify-content-between">
            <input type="number" #qunValue min="1" [max]="items.productQuantity"  style="background-color: cadetblue;border: 1px solid black;border-radius: 2px;">
            @switch (items.productQuantity) {
            @case (0) { <p class="text-white">No products</p> }
            @case (1) { <p class="text-white">Last item in stock</p>}
            @default { <p class="text-white">In stock</p>}
            }
            <button class="btn btn-primary" (click)="buy(qunValue.value,items)">Buy</button>
          
          </div>
        </div>
      </div>

    </div>
}
  </div>
</div>
<!-- <div *If="!isPurchased">
  <button (click)="togglePurchase()">Buy from Store</button>
</div>

<div *If="isPurchased">
  <p>Thanks for purchasing from our Store, {{ ClientName }}!</p>
</div>

<input type="text" placeholder="Enter your name" [(ngModel)]="ClientName" /> -->
