<div class="container mt-4">
   <div class="justify-content-center row">
    <h3 class="col-md-10">Add new listing</h3>
 <button class="btn btn-primary col-md-2 " [routerLink]="['/listings']" routerLinkActive="active" >Back</button>
</div>
  <form [formGroup]="listingForm" (ngSubmit)="addListing()" class="m-2 p-3 rounded-3"  style="border: 1px solid rgb(109, 11, 167);">
    <div class="mb-3">
      <label class="form-label">Title</label>
      <input type="text" class="form-control" formControlName="title">
    </div>

    <div class="mb-3">
      <label class="form-label">Unit ID</label>
      <input type="number" class="form-control" formControlName="unitId">
    </div>

    <div class="mb-3">
      <label class="form-label">Price Per Night</label>
      <input type="number" class="form-control" formControlName="pricePerNight">
    </div>

    <div class="mb-3">
      <label class="form-label">Status</label>
      <select class="form-control" formControlName="status">
        <option value="active">Active</option>
        <option value="inactive">Inactive</option>
      </select>
    </div>

    <div class="mb-3">
      <label class="form-label">Image URL</label>
      <input type="text" class="form-control" formControlName="image">
    </div>

    <button type="submit" class="btn btn-success">Add Listing</button>
  </form>
</div>
