<div class="container mt-4">


<div class="d-flex justify-content-between align-items-center mb-3">
  <h3>All Users</h3>
  <a routerLink="/users/add" class="btn btn-primary">+ Add User</a>
</div>

  <table class="table table-bordered table-striped table-hover">
    <thead class="table-dark text-center">
      <tr>
        <th>Name</th>
        <th>E-Mail</th>
        <th>Phone</th>
        <th>Type</th>
         <th>Delete</th>
          <th>Update</th>
      </tr>  
    </thead>  
    <tbody class="text-center">
      <tr *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone || 'Not Found' }}</td>
        <td>
          <span class="badge" [ngClass]="user.isAdmin ? 'bg-success' : 'bg-secondary'">
            {{ user.isAdmin ? 'Admin' : 'User' }}
          </span>
        </td>
         <td>
      <button class="btn btn-danger btn-sm" (click)="deleteUser(user.id)">🗑️</button>

    </td>
    <td>
        <a [routerLink]="['/users/update', user.id]" class="btn btn-warning btn-sm">
  ✏️
</a>
</td>

      </tr>
    </tbody>
  </table>
</div>
